body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  height: 100vh; /* Optional: Makes the container fill the entire viewport height */
}


.card {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #080808;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

label {
  text-align: left;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button {
  padding: 10px;
  background-color: #5e1414;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
