.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  text-align: center;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  padding: 10px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.modal-conte
.modal-content p{
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.close-button {
  background-color: #e0e0e0;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 20px;
}
