.phead{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-weight: 800;
    color: white;
}
.img1{
    margin: auto;
    display: flex;
    justify-content: center;
}
.a1{
    text-align: center;
    color: white;
    font-weight: 900;
}
.img1 img{
    width: 800px;
    border-radius: 20px;
    opacity: 3  ;
}