.bankReg {
    background-attachment: url('./../../../public/pexels-shafifotumcatcher-2378278.jpg');
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: auto;
  width: 70%;
  padding: 40px;
  border-radius: 20px;
  background: white;
  margin-top: 3%;
  background-color: #2322227d;
  margin-bottom: 3%;
}
input {
  background-color: rgb(235, 233, 233);
  min-width: 100%;
  border: none;
  appearance: none;
  transition: all 0.2s;
}
input:active {
  border: none;
}
label {
  padding-top: 5px;
  text-transform: capitalize;
  display: block;
}
.formOfBank {
  display: flex;
  justify-content: space-between;
}
.heading {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.statesAndDist {
  display: flex;
}
.distcss {
  padding-left: 50px;
}
.formDiff {
  margin: 20px;
  width: 50%;
}

select {
  background-color: gainsboro;
  border: none;
  border-radius: 8px;
  padding: 12px;
}
.regBtn {
  text-align: center;
}
