.bankReg{
    margin: auto;
    width: 50%;
    padding: 50px;
}
input{
    width: 100%;
}
label{
    text-transform: capitalize;
    display: block;
}
.formOfBank{
    margin-left: 10%;
    margin-right: 10%;
    display: inline;
}