.c1 {
  font-family: "Kanit", sans-serif;
  font-size: larger;
}
.c2 {
  font-family: "Montserrat", sans-serif;
  font-size: larger;
}
.c3 {
  font-family: "Raleway", sans-serif;
  font-size: larger;
}
.c4 {
  font-family: "Roboto", sans-serif;
  font-size: larger;
}
