.donorInfo {
  display: flex;
  justify-content: center;
}
/* .info1 {
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 20px;
} */
.userDetail {
  display: flex;
  justify-content: center;
  background: white;
  width: 80%;
  padding: 30px;
  padding-bottom: 10px;
}
.userImg {
  height: 90px;
}
