.donorInfo {
  display: flex;
  gap: 5%;
}

.userDetail {
  display: flex;
  justify-content: center;
  background: white;
  padding: 30px;
  padding-bottom: 10px;
  gap: 5%;
}
.userImg {
  height: 90px;
}
