table {
    width: 100%;
  }
  td,
  th {
    text-align: center;
    padding: 10px;
  }
  table,
  th,
  td {
    border: 1px solid;
    border-collapse: collapse;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }