table {
  /* width: 100%; */
  margin-right: 5%;
  margin-left: 5%;
  
}
.phbdMain {
  display: flex;
  justify-content: center;
  
}
.phbd {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);    border-radius: 20px;
    width: 400px;
  padding: 40px;
}
.phbdbtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
td,
th {
  text-align: center;
  padding: 10px;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  background: #000;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
